body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1em;
    background-color: #ddd;
}
#header {
    position: relative;
    top: -10px;
    background-color: #3c4543;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
h2, button {
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #acd1b2;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

li {
    display: inline;
    padding: 5px 5px 5px 5px;
    border: 2px solid #000000;
    font-family: Futura, Tahoma, sans-serif;
    color: #ffffff;
    border-radius: 5px 5px;
    background-color: #cc0323
}

#link2{
    position: relative;
    margin-top: 20px;
}

#link3{
    position: relative;
    margin-top: 20px;
}

#link4{
    position: relative;
    margin-top: 20px;
}

#final {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align:center;
}

button {
    width:100%;
    background-color: #3c4543;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size : 1.0em;

}


.radio-tabs .zero {
    position: absolute;
    left: -10000px;
}
#Math:focus ~ .tabs #Math-tab,
#English:focus ~ .tabs #English-tab,
#Computer:focus ~ .tabs #Computer-tab {
    box-shadow: 0 0 3px 3px rgba(0,127,255,.5);
}

.radio-tabs .tab {
    display: inline-block;
    padding: .5em;
    vertical-align: top;
    background-color: #eee;
    cursor: hand;
    cursor: pointer;
}
.radio-tabs .tab:hover {
    background-color: #fff;
}
#Math:checked ~ .tabs #Math-tab,
#English:checked ~ .tabs #English-tab,
#Computer:checked ~ .tabs #Computer-tab {
    background-color: #fff;
    border-bottom: .3em solid #fff;
    cursor: default;
}

.radio-tabs .panels {
    background-color: #fff;
    padding: .5em;
}
.radio-tabs .panel {
    display: none;
}
#Math:checked ~ .panels #Math-panel,
#English:checked ~ .panels #English-panel,
#Computer:checked ~ .panels #Computer-panel {
    display: block;
}