body {
	background-color: #b7d1c4
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #acd1b2;
}
#header {
	position: relative;
	top: -10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#first {
	position: fixed;
	left:50%;
	margin-left:-90px;
	margin-top: 100px; 
}
a {
    color: #ffffff;
    text-decoration: none;
}

#second{
position: fixed;
left: 50%;
margin-left: -175px;
margin-top: 150px;
visibility: visible;
}

#third{
position: fixed;
left: 44%;
margin-left: -254px;
margin-top: 200px;
visibility: visible;
}

#final{
position: fixed;
left: 50%;
margin-left: -100px;
margin-top: 600px;
}

ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

li {
	display: inline;
	padding: 5px 5px 5px 5px;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	border-radius: 5px 5px;
	background-color: #cc0323
	
}



